#mentoringClicked{
    font-size:30px;
    font-weight:900;
    color:#fa8023;
}
.mentoringClickedHeader{
    margin-top:70px;
}
.clickedMentoringList{
font-size:30px;
margin-top:50px;
margin-bottom:30px;
}