.profileHyevvy {
    font-size:80px;
    margin-top:150px;
    margin-bottom:0;
    text-align: center;
}
.profileHyevvyContents{
    padding:8px;
    display:inline-block;
}
.profileHyevvyBottom{
    margin-top:20px;
    text-align: center;
}
.profileIcon{
    padding:30px;
}

