.mentoringLists{
    text-align: center;
}

.mentoringList{
    font-size: 22px;
    padding-right:30px;
}
li{
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}
.MentoringListContents{
    margin-bottom: 60px;
}
.mentoringSsgActivityContentes{
    margin-top: 30px;
    margin-bottom:30px;
}